.container-ExperienceView {
    width: calc(100vw - 70px);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.workContainer-ExperienceView {
    padding: 10px 0 25px 0;
}

.bulletPointWork-ExperienceView {
    padding-bottom: 10px;
    line-height: 30px;
}

.workTitle-ExperienceView {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 20px;
}

.workExperiencesContainer-ExperienceView {
    display: flex;
    flex-wrap: wrap;
}

.peekaContainer-ExperienceView {
    flex: 1 0 50%;
    padding-right: 30px;
}

.peekaTitle-ExperienceView {
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 10px;
}

.peekaTimeline-ExperienceView {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 5px;
}

.taContainer-ExperienceView {
    flex: 1 0 50%;
    padding-left: 30px;
}

.taTitle-ExperienceView {
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 10px;
}

.taTimeline-ExperienceView {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 5px;
}

.skillsContainer-ExperienceView {
    padding: 25px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.skillsTitle-ExperienceView {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 10px;
}

.skillsDetailsContainer-ExperienceView {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.specificSkillsTitle-ExperienceView {
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
}

.frontEndDevelopmentContainer-ExperienceView {
    padding: 10px 0;
    flex: 1 0 50%;
}

.backEndDevelopmentContainer-ExperienceView {
    padding: 10px 0;
    flex: 1 0 50%;
}

.mobileDevelopmentContainer-ExperienceView {
    padding: 10px 0;
    flex: 1 0 50%;
}

.generalKnowledgeContainer-ExperienceView {
    padding: 10px 0;
    flex: 1 0 50%;
}

.relevantCoursesContainer-ExperienceView {
    padding: 10px 0;
}

.relevantCoursesTitle-ExperienceView {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 10px;
}

.relevantCoursesDetail-ExperienceView {

}

.projectSection-ExperienceView {
    padding: 50px 0;
}

.projectTitle-ExperienceView {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
}

.projects-ExperienceView {
    width: 100%;
    padding: 20px 35px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ProjectCard-ExperienceView {
    flex: 0 0 50%;
}

/*Media Query @ 768px or less (Tablet and Smaller)*/
@media (max-width: 1024px) {
    .projects-ExperienceView {
        width: 100%;
        padding: 55px 35px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ProjectCard-ExperienceView {
        flex: 1 0 100%;
    }

    .peekaContainer-ExperienceView {
        flex: 1 0 100%;
    }

    .taContainer-ExperienceView {
        flex: 1 0 100%;
        padding: 30px 0;
    }

    .frontEndDevelopmentContainer-ExperienceView {
        padding: 10px 0;
        flex: 1 0 100%;
    }

    .backEndDevelopmentContainer-ExperienceView {
        padding: 10px 0;
        flex: 1 0 100%;
    }

    .mobileDevelopmentContainer-ExperienceView {
        padding: 10px 0;
        flex: 1 0 100%;
    }

    .generalKnowledgeContainer-ExperienceView {
        padding: 10px 0;
        flex: 1 0 100%;
    }
}