.container-EcoSnapCard {
    height: 100%;
    width: 100%;
    background-color: #004c52;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-EcoSnapCard {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../../assets/Projects/EcoSnap/CardCover.png");
    background-position: center;
    background-size: cover;
}

.logo-EcoSnapCard {
    width: 50%;
}

.onHoverContainer-EcoSnapCard {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}

.backLogo-EcoSnapCard {
    width: 45%;
    height: auto;
}

.PositionTimelineContainer-EcoSnapCard {
    width: 100%;
    padding: 25px 0 10px;
    display: flex;
    align-items: center;
}

.Position-EcoSnapCard {
    font-size: 22px;
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.Timeline-EcoSnapCard {
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

/*Animations*/
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}