.container-PeekaVRCard {
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(
            #ff339a,
            #ff8756
        );
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-PeekaVRCard {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 10px;
    background-image: url("./../../assets/Projects/PeekaVR/white_background.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-PeekaVRCard {

}

.onHoverContainer-PeekaVRCard {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}

.onHoverLogo-PeekaVRCard {
    width: 35%;
    height: auto;
}

.PositionTimelineContainer-PeekaVRCard {
    width: 100%;
    padding: 25px 0 10px;
    display: flex;
    align-items: center;
}

.Position-PeekaVRCard {
    font-size: 22px;
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.Timeline-PeekaVRCard {
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

/*Animations*/
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}