.container-ViewController {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-ViewController {
    max-width: 1800px;
    padding: 20px 35px 20px;
    display: flex;
}