.container-ViewController {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-ViewController {
    max-width: 1800px;
    padding: 45px 35px 20px;
    display: flex;
}

.recentWork-ViewController {
    width: 100%;
    padding: 55px 35px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ProjectCard-ViewController {
    flex: 1 0 50%;
}

/*Media Query @ 768px or less (Tablet and Smaller)*/
@media (max-width: 1024px) {
    .recentWork-ViewController {
        width: 100%;
        padding: 55px 35px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ProjectCard-ViewController {
        flex: 1 0 100%;
    }
}