.container-ViewController {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    -ms-overflow-style: none;  /*IE 10+ scrollbar*/
    overflow: -moz-scrollbars-none;  /*Firefox scrollbar*/
}

/*Chrome scrollbar*/
.container-ViewController::-webkit-scrollbar {
    display: none;
}

.content-ViewController {
    flex: 1;
    max-width: 1800px;
    padding: 20px 35px 20px;
    display: flex;
}

/*Chrome scrollbar*/
.content-ViewController::-webkit-scrollbar {
    display: none;
}