.container-navbar {
    height: 85px;
    box-shadow: 1px 1px 1px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    z-index: 999;
}

.contents-navbar {
    max-width: 1800px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 25px 35px;
}

.name-navbar {
    font-size: 32px;
    font-weight: 500;
    flex: 1;
    justify-content: flex-start;
}

.menu-navbar {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.outside-links-navbar {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon-navbar {
    height: 25px;
    width: 25px;
}