.container-MainView {
    flex-direction: column;
    height: 100%;
}

.navbar-MainView {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.viewController-MainView {
    margin-top: 85px;
    display: flex;
    justify-content: center;
}